<html>
    <head>
        <title>Movie App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/design.css">     
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap">   
    </head>
    <body>
        <h1 id="searchHeading"> Search Result <span>></span> <%= searchQuery.toUpperCase()%> </h1>
        <% data ["results"].forEach((movie)=>{ %>
        <div class="card mb-5 w-75">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="https://image.tmdb.org/t/p/w600_and_h900_bestv2<%=movie["poster_path"]%>" class="card-img img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h2 class="card-title"><%= movie["original_title"]%></h2>
                        <hr>
                        <p class="card-text"><%= movie["overview"]%></p>
                        <hr>
                        <br>
                        <p class="card-text"><b>Published :</b><%= movie["release_date"]%></p>
                        <p class="card-text"><b>Total Vote :</b><%= movie["vote_count"]%></p>
                        <p class="card-text"><b>Averages rating :</b><%= movie["vote_average"]%></p>
                    </div>
                </div>
            </div>
        </div>
  <% }) %>
    </body>
</html>