<html>
    <head>
        <title>Movie App</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="stylesheets/design.css">
    </head>
    <body>
        <h1 id="searchh1" class="text-center">Search Movie Here</h1>
        <form action="/results" method="GET" class="justify-content-center d-flex">
            <input type="text" name="search" class="form-control w-25" placeholder="Enter Movie Name">
            <button type="submit" class="btn-success">Search Movie</button>
        </form>
    </body>
</html>