<h1>Stack Overflow questions</h1>

<% questions.forEach((questions)=>{ %>
    <%if(questions['user'].toLowerCase()==='john'){ %>
        <h2><%= questions['title']%></h2>
        <p><%= questions['user']%></p>
        <p><%= questions['votes']%></p>   
    <%} else {%>
        <h1>Asked other users</h1>
        <h2><%= questions['title']%></h2>
        <p><%= questions['user']%></p>
        <p><%= questions['votes']%></p>
    <% } %>
<% }); %>