<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <h1 class="text-center mt-5 mb-3">Login</h1>
    <form action="/login" method="POST">
        <div class="container w-25">
            <div class="row justify-content-center">
                <div class="form-group col-12 px-0">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group col-12 px-0">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-success btn-block col-12"> Submit </button>
            </div>
        </div>
    </form>

</body>
</html>