body{
    background-color: darkcyan;
    padding: 3%;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
    padding: 4%;
}
.white{
    background-color: whitesmoke;
    color: black;
}